<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boarddemo.mapper.BoardMapper">
    <!--Create-->
    <insert id="createBoard" parameterType="com.example.boarddemo.vo.BoardVO">
        INSERT INTO board(b_title, b_content, b_fileOriginName, b_fileName, b_indate, b_update, m_seq)
        VALUES(#{b_title}, #{b_content}, #{b_fileOriginName}, #{b_fileName}, now(),now(),#{m_seq})
    </insert>

    <!--Read-->
    <select id="readBoard" resultType="com.example.boarddemo.vo.BoardVO">
        SELECT * FROM board ORDER BY b_seq DESC
    </select>

    <!--ReadDetail-->
    <select id="readDetail" parameterType="int" resultType="com.example.boarddemo.vo.BoardVO">
        SELECT * FROM board where b_seq=#{value}
    </select>

    <!--Update-->
    <update id="updateBoard" parameterType="com.example.boarddemo.vo.BoardVO">
        UPDATE board SET
            b_title=#{b_title},
            b_content=#{b_content},
            b_fileOriginName=#{b_fileOriginName},
            b_fileName=#{b_fileName},
            b_update=now()
        WHERE b_seq=#{b_seq}
    </update>

    <!--Delete-->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE b_seq=#{value}
    </delete>
</mapper>