<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boarddemo.mapper.memberMapper">
    <!--회원가입-->
    <insert id="memberJoin" parameterType="com.example.boarddemo.vo.memberVO">
        INSERT INTO member(m_id, m_pw, m_name, m_tell, m_email, m_date,m_enabled,m_role)
        VALUES(#{m_id}, #{m_pw}, #{m_name}, #{m_tell}, #{m_email},now(),#{m_enabled}, #{m_role})
    </insert>

    <!--로그인-->
    <select id="memberLogin"  resultType="com.example.boarddemo.vo.memberVO">
        SELECT * FROM member WHERE m_id=#{m_id} AND m_pw=#{m_pw}
    </select>

    <!--유저검색-->
    <select id="selectId" parameterType="String" resultType="com.example.boarddemo.vo.memberVO">
        SELECT * FROM member WHERE m_id=#{value}
    </select>

    <!--권한 부여-->
<!--    <insert id="roleInsert" parameterType="com.example.boarddemo.vo.roleVO">-->
<!--        INSERT INTO role(r_seq,r_id)-->
<!--        VALUES(#{r_seq}, #{r_id});-->
<!--    </insert>-->
</mapper>