@import "../../../../scss/mixin";
@import "../../../../scss/setting";

.modal2 {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex(center, center);

  .modalOverlay2 {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .modalContent2 {
    @include widthHeight(100%, 100%);
    @include flex(center, center, column);
    max-height: calc(100% - 200px);
    max-width: 1000px;
    .modalForm {
      @include widthHeight(100%, 100%);
      @include flex(center, center, column);
      background-color: #fff;
      border-radius: 12px;
      //   position: fixed;
      z-index: 3;
      .modalHeader {
        @include widthHeight(100%, auto);
        @include flex(center, space-between, row);
        border-bottom: solid 1px #dbdbdb;

        .delBtn {
          padding: 16px;
          @include font(normal, 14px, #262626);
          cursor: pointer;
        }
        .title {
          @include font(normal, 16px, #262626);
          font-weight: 600;
          line-height: 24px;
          text-align: center;
        }
        .completeBtn {
          padding: 16px;
          @include font(normal, 14px, #0095f6);
          font-weight: 600;
          cursor: pointer;
        }
      }

      .CUWrap {
        @include widthHeight(100%, 100%);
        @include flex(center, center, row);
        .imgWrap {
          @include widthHeight(100%, 100%);
          @include flex(center, center, row);
          border-right: 1px solid #dbdbdb;
          .btnWrap {
            @include widthHeight(auto,100%);
            @include flex(stretch, flex-start, column);
            margin-left: 20px;
            margin-bottom: 0px;
            .uploadBtn {
              @include widthHeight(30px, 30px);
              background-image: url("/img/upload.png");
              background-size: 100%;
              border: 2px solid #dbdbdb;
              border-radius: 50%;
              background-color: #dbdbdb;
              margin-top: 10px;
              cursor: pointer;
            }
            .delBtn {
              @include widthHeight(30px, 30px);
              background-image: url("/img/delete.png");
              background-size: 100%;
              border: 2px solid #dbdbdb;
              border-radius: 50%;
              background-color: #dbdbdb;
              margin-top: 10px;
              cursor: pointer;
            }
          }
          .uploadImg {
            @include widthHeight(600px,100%);
            @include flex(center,center);
            padding: 20px;
            box-sizing: border-box;
            
            
            .uploadImgBox {
              @include widthHeight(100%, 100%);
              background-size: 100%;
            }
          }
        }

        .contentWrap {
          @include widthHeight(100%, 100%);
          @include flex(center, flex-start, column);
          

          .mainContent {
            @include widthHeight(100%, auto);
            @include flex(center, flex-start, column);
            margin-top:20px;
            
            .contentProfile {
              @include widthHeight(100%, auto);
              @include flex(center, flex-start, row);
              padding: 0 16px;
              box-sizing: border-box;
                
              img {
                @include widthHeight(30px, 30px);
                border-radius: 50%;
                background-size: 100%;
                margin-right: 10px;
              }
              .myId {
                @include font(normal, 16px, #262626);
                font-weight: 600;
              }
            }
            .titleWrap {
              @include widthHeight(100%,auto);
              @include flex(center,center,row);
              padding: 5px 16px;
              box-sizing: border-box;
              label{
                width: 100%;
                @include flex(center,center,row);
                input{
                  width: 80%;
                  margin-left: 5px;
                }
              }
            }
            .contentText {
              max-height: 168px;
              min-height: 168px;
              padding: 10px 16px;
              @include widthHeight(100%, 100%);

              
              box-sizing: border-box;
              textarea {
                @include widthHeight(100%,100%);
                @include font(normal, 16px, #262626);
              font-weight: 400;
              }
            }

            .textAdd{
                @include widthHeight(100%,auto);
                @include flex(center,space-between,row);
                padding:0 16px;
                box-sizing: border-box;
                padding-bottom: 10px;
                border-bottom: 1px solid #dbdbdb;

                .emoji{
                    @include widthHeight(16px,16px);
                    background-image: url('/img/emoji.png');
                    background-size: 100%;
                    cursor: pointer;
                }
                .textCnt {
                    @include font(normal,12px,#c7c7c7);

                }
            }
          }
          .localAdd {
              @include widthHeight(100%,auto);
              @include flex(center,space-between,row);
              padding: 10px 16px;
              box-sizing: border-box;
              border-bottom: 1px solid #dbdbdb;
              span {
                @include font(normal, 16px, #262626);
              }
              
          }
          .access {
            @include widthHeight(100%,auto);
            @include flex(center,space-between,row);
            padding: 10px 16px;
            box-sizing: border-box;
            border-bottom: 1px solid #dbdbdb;
            span {
              @include font(normal, 16px, #262626);
            }
            svg{
                transform: rotate(180deg);
            }
        }
        .setting {
            @include widthHeight(100%,auto);
            @include flex(center,space-between,row);
            padding: 10px 16px;
            box-sizing: border-box;
            border-bottom: 1px solid #dbdbdb;
            span {
              @include font(normal, 16px, #262626);
            }
            svg{
                transform: rotate(180deg);
            }
        }
        }
      }
    }
  }
}
