@import "../../scss/setting";
@import "../../scss/mixin";

.main {
  @include widthHeight(100%, 100%);

  background-color: #fafafa;
  .contents {
    @include widthHeight(auto, 100%);
    margin: 0 auto;
    padding: 30px 20px 0;
    max-width: 935px;
    box-sizing: border-box;

    .btnWrap {
      @include widthHeight(100%, 100%);
      @include flex(center,flex-end);
      margin-bottom: 10px;
    
      .createBtn {
        width: 80px;
        height: 30px;
        background-color: #0095f6;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: normal;
        font-size: 12px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        
      }
    }
  }
}
