$mainFont: nsk_m;

// reset
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

* {
  background-repeat: no-repeat;
}

a {
  color: black;
  text-decoration: none;
}

input{
  border: 0;
}
