$mainFont: nsk_m;

// reset
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

* {
  background-repeat: no-repeat;
}

a {
  color: black;
  text-decoration: none;
}

input {
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
  border: 0;
  &:focus {
    outline: none;
  }
}

input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
